@import "icon.less";

@font-face {
  font-family: "GothamMedium";
  src: url(../font/GothamSSm-Medium.otf) format('opentype');
}
@font-face {
  font-family: "NanumGothic";
  font-style: normal;
  font-weight: 400;
  src: url(../font/NanumGothic-Regular.woff) format('woff');
}
@font-face {
  font-family: "NanumGothic";
  font-style: normal;
  font-weight: 700;
  src: url(../font/NanumGothic-Bold.woff) format('woff');
}