@font-face {
  font-family: "Flat-UI-Icons";
  src: url(../font/flat-ui-icons.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GothamMedium";
  src: url(../font/GothamSSm-Medium.otf) format('opentype');
}
@font-face {
  font-family: "NanumGothic";
  font-style: normal;
  font-weight: 400;
  src: url(../font/NanumGothic-Regular.woff) format('woff');
}
@font-face {
  font-family: "NanumGothic";
  font-style: normal;
  font-weight: 700;
  src: url(../font/NanumGothic-Bold.woff) format('woff');
}

.icon-font() {
  // Flat UI의 아이콘을 사용한다.
  // @see /cscript/viwer/webFont.js
  // @see https://github.com/designmodo/Flat-UI/blob/master/less/icon-font.less
  font-family: 'Flat-UI-Icons'!important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}