#__nendic__ {
  display: none !important;
  visibility: visible !important;
  position: fixed !important;
  width: 300px !important;
  height: 100% !important;
  max-height: 400px !important;
  min-height: 0 !important;
  max-width: none !important;
  min-width: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  top: 10px !important;
  right: 10px !important;
  bottom: auto !important;
  left: auto !important;
  background: green !important;
  border: none !important;
  box-shadow: none !important;
  opacity: 0 !important;
  box-sizing: content-box !important;
  opacity: 1 !important;
  outline: invert none medium !important;
  resize: none !important;
  vertical-align: baseline !important;
  z-index: 2147483647 !important;
  -webkit-animation-duration: 0 !important;
  -webkit-user-select: none !important;
  -webkit-transform: translate3d(0, 0, 0) !important;

  &.on {
    display: block !important;
  }
}