@import (reference) "common.less";

@charset "utf-8";

@font-size: 11px;
@font-color: #333333;
@strong-color: #000000;
@weak-color: #666666;
@body-bgcolor: #EFF0F2;

body {
  font-size: 11px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  background: @body-bgcolor;
}

* {
  background-repeat: no-repeat;
  color: inherit;
  font: inherit;
  text-shadow: inherit;
  -webkit-font-smoothing: inherit;
}

textarea, div[contenteditable] {
  border: none;
  outline: none;
  resize: none;
}

div, h3, h4, span, a, ul, li, button, input {
  margin: 0;
  padding: 0;
  width: initial;
  height: initial;
  border: 0;
  color: @font-color;
  background: none;
  font-size: @font-size;
  font-family: GothamMedium, NanumGothic, Helvetica, Arial, sans-serif;
  text-align: left;
  line-height: 150%;
  overflow: default;
  box-shadow: none;
  min-height: 0;
}

li {
  list-style: none;
}

button {
  outline: 0;
  text-decoration: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

audio {
  display: none;
}

.wrap {
  margin: 10px;

  .content {
    .line {
      margin: 8px 0;
      border: 0;
      border-bottom: 1px solid #ccc;
    }
    
    .title {
      font-size: @font-size + 1;
      font-weight: bold;
      color: @strong-color;
    }

    .number {
      margin: 0;
      color: @strong-color;
      font-weight: normal;
    }

    .phonetic-symbol {
      padding-left: 2px;
      color: @weak-color;
      // 나눔고딕일 경우 발음 기호에 공백이 지나치게 생기므로 영문 폰트로 제한한다.
      font-family: GothamMedium, Helvetica, Arial, sans-serif;
      font-weight: normal;
    }

    .audio-btn {
      display: inline-block;
      margin-left: 5px;
      color: @weak-color;

      &.on {
        color: #D35400;
      }

      &:before {
        position: relative;
        top: 1px;
      }
    }

    .meaning {
      margin: 3px 0 0 3px;

      .type {
        font-weight: bold;
      }

      .defs {
        margin: 2px 0 0 4px;

        .ex-en, .ex-kr {
          margin: 0 0 0 8px;
          color: #999999;
        }
      }

      .more-def {
        margin: 3px 0 5px 3px;

        a {
          color: #555555;
          font-size: 10px;
        }
      }
    }

    .toggle {
      position: absolute;
      right: 10px;
      top: 10px;

      .toggle-btn {
        text-align: right;
        color: @weak-color;

        &:before {
          position: relative;
          top: 1px;
          margin-right: 4px;
        }

        &.on {
          color: #D35400;
        }
      }
    }

    .noresult {
      .query {
        color: @strong-color;
        font-weight: bold;
      }
    }
  }

  .footer {
    .guide {
      padding: 5px 10px 10px 10px;
      text-align: right;

      button {
        color: #999999;
      }
    }

    .shortcut {
      display: none;
      padding: 10px;
      border-top: 1px dashed #999999;

      li {
        margin: 0;
        padding: 0 0 0 3px;

        strong {
          color: @strong-color;
          font-weight: bold;
        }
      }
    }
  }
}