<!doctype html>
<html ng-cloak ng-app="optionsApp">
<head>
  <title>설정</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/optionPage.css">
</head>
<body>
<div class="wrap">
  <div class="nav">
    <button class="fui-gear menu on">설정</button>
    <button class="fui-user menu">피드백</button>
  </div>
  <div class="content" ng-controller="optionCtrl">
    <div class="noti" ng-if="isChanged">
      변경한 설정을 적용했습니다. 새로운 설정은 새 창을 열거나, 기존 창을 새로고침 하면 적용됩니다.
    </div>
    
    <h3 class="fui-arrow-right">사전 선택 방법</h3>
    <p class="desc">페이지에서 사전을 불러오는 방법에 대한 설정입니다.</p>
    <ul class="box">
      <li class="item" ng-repeat="method in TRIGGER_METHODS" data-analytics-event="options:changeTriggerMethod:{{method.value}}">
        <input type="radio" name="triggerMethod" id="method-{{$index}}"
          ng-model="options.triggerMethod" value="{{method.value}}" ng-change="save()">
        <label for="method-{{$index}}">{{method.desc}}</label>
      </li>
    </ul>
    
    <h3 class="fui-arrow-right">사전 글자 크기</h3>
    <p class="desc">사전의 글자 크기를 설정합니다.</p>
    <div class="box font-size">
      <div>
        <button class="btn fui-triangle-down" ng-click="setSmaller()" data-analytics-event="options:changeFontSize:{{options.fontSize - 5}}">작게</button>
        <strong class="current-font-size">{{options.fontSize}}%</strong>
        <button class="btn fui-triangle-up" ng-click="setLarger()" data-analytics-event="options:changeFontSize:{{options.fontSize + 5}}">크게</button>
      </div>
      <iframe id="viewer" src="viewer.html"></iframe>
    </div>
  </div>
</div>

<script src="vendor/jquery.js"></script>
<script src="vendor/underscore.js"></script>
<script src="vendor/angular.js"></script>
<script src="vendor/q.js"></script>
<script src="js/common/define.js"></script>
<script src="js/common/constant.js"></script>
<script src="js/common/message.js"></script>
<script src="js/common/storage.js"></script>
<script src="js/common/options.js"></script>
<script src="js/common/f.js"></script>
<script src="js/common/analytics.js"></script>
<script src="js/options/optionPage.js"></script>
</body>
</html>